* {
    border:none;
    font-size:15px;
    font-family: "JetbrainsMono Nerd Font";
}

window#waybar {
    background: transparent;
    background: rgba(36, 39, 58, 0.8);
}

#cpu,
#memory,
#clock,
#workspaces {
    color:#91d7e3;
    padding: 8px;
}

#workspaces button {
    color: #8aadf4;
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#workspaces button.active {
    color: #a6da95;
}
